<section class="main">
    <video class="main__video" autoplay muted loop id="myVideo">
        <source
            src="img/School-page/depositphotos_203145164-stock-video-robot-hand-and-butterfly.mp4"
            type="video/mp4"
        />
    </video>
</section>
<section class="course">
    <div class="container-fluid">
        <div class="course__inner">
            <div class="course__item">
                <div class="course__num">7</div>
                <div class="course__subtitle">инновационных курсов</div>
            </div>
            <div class="course__item">
                <div class="course__num">15</div>
                <div class="course__subtitle">модулей высшей математики</div>
            </div>
            <div class="course__item">
                <div class="course__num">48 <span>ч.</span></div>
                <div class="course__subtitle">продолжительность курса</div>
            </div>
            <div class="course__btn">
                <button class="button">Записаться на курс</button>
            </div>
        </div>
    </div>
</section>
<section class="stud-promotion">
    <div class="stud-promotion__bg">
        <img src="img/stud-page/promotions-bg.png" alt=""/>
    </div>
    <div class="stud-promotion__inner">
        <div class="container-fluid">
            <div class="stud-promotion__title offset-md-6">
                Истина <span>всегда проста</span>
            </div>
            <div class="stud-promotion__subtitle offset-md-6">
                Если вы не понимаете предмет или вам не интересно, значит вы не
                нашли своего учителя
            </div>
        </div>
    </div>
    <div class="stud-promotion__wrap">
        <div class="container-fluid">
            <div class="stud-promotion__title2">Школа Высшей Математики</div>
            <div class="stud-promotion__subtitle2">
                предлагает получить начальные знания и практические навыки в
                основных разделах Высшей Математики
            </div>
            <div class="stud-promotion__items">
                <div class="stud-promotion__item pr-icon1">
                    <p>
                        Вы <span>старшеклассник</span>, который хочет развивать свои
                        навыки и постигать новые вершины:
                    </p>
                    <p>
                        научиться <span>нестандартно мыслить</span>, не принимать все на
                        веру, с ходу решать любые проблемы используя красивые
                        математические модели
                    </p>
                    <p>
                        или просто оказаться
                        <span>в кругу единомышленникови обрести друзей</span>, быть
                        интересным для окружающих
                    </p>
                </div>
                <div class="stud-promotion__item pr-icon2">
                    <p>
                        Вы хотите поступить или уже учитесь в специализированной школе,
                        такой как
                        <span>РФМШ, НИШ (NIS)</span> и другие:
                    </p>
                    <p>
                        но считаете что Вы готовы выйти за рамки школьной программы и
                        получить азы Высшей Математики, например в Комбинаторике, Теории
                        Чисел и Линейной Алгебре
                    </p>
                </div>
                <div class="stud-promotion__item pr-icon3">
                    <p>
                        Вы хотите с легкостью сдать такие экзамены как
                        <span>SAT, GRE и GMAT</span> и стать студентами таких
                        университетов как Cambridge, Harvard, MIT и получить
                        максимальные возможности, чтобы влиться в мировую элиту
                    </p>
                </div>
                <div class="stud-promotion__item pr-icon4">
                    <p>
                        Вы хотите понять с чем связать свою жизнь и какую профессию
                        выбрать:
                    </p>
                    <p>
                        писать программы c <span>IBM</span>, собирать атомные двигатели
                        в <span>Rolls-Royce</span>, запускать ракеты, торговать на бирже
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="quote">
    <div class="container-fluid">
        <div class="quote__inner">
            <div class="quote__title">
                Мы поможем вам <span>осуществить вашу мечту</span>
            </div>
        </div>
    </div>
</section>
<section class="stud-program">
    <div class="container-fluid">
        <div class="stud-program__inner">
            <div class="stud-program__title">
                Программа курса для Старшеклассников
            </div>
            <div class="stud-program__subtitle">
                <i>
                    В связи с тем, что курсы Для Старшеклассников экспериментальные и
                    не являются основным направлением центра, количество групп для
                    школьников <span>ограничено</span>
                </i>
            </div>
            <div class="stud-program__descr">
                <p>
                    В курсах, наряду со школьной программой, будут даны основы Высшей
                    Математики. При этом, знакомство и освоение элементов Высшей
                    Математики будет происходить естественным образом. Например, как
                    решая алгебраическое уравнение можно использовать принципы Теории
                    Чисел или как легко решается геометрическая задача при помощи
                    векторов Аналитической Геометрии.
                </p>
                <p>
                    Основной упор в курсах сделан на решение ключевых задач и
                    примеров, что позволит легко освоить сложные математические методы
                    и приемы без заучивания теорем и их доказательств.
                </p>
                <p>
                    Курсы <span>HM Teen I, HM Teen II</span> отличаются друг от друга
                    по углубленности изучаемых модулей Высшей Математики.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="stud-about">
    <div class="stud-about__bg">
        <img src="img/stud-page/stud-about__bg.png" alt=""/>
    </div>
    <div class="stud-about__before">
        <div class="container-fluid">
            <div class="stud-about__before-title">Студенты</div>
            <div class="stud-about__before-wrap">
                <div class="stud-about__before-descr">
                    В ВУЗе, обычно, на студентов сваливается лавина новых знаний,
                    которые часто даются в тяжелой, перегруженной форме и студенты всю
                    учёбу страдают от непонимания.
                </div>
                <div class="stud-about__before-descr2">
                    Занятия в нашей школе дадут вам понимание
                    <span>Высшей Математики</span> в простой и легкой форме и научат
                    вас решать задачи, которые до этого вам казались очень сложными
                </div>
            </div>
        </div>
    </div>
    <div class="stud-about__after">
        <div class="container-fluid">
            <div class="stud-about__after-title">После окончания курсов</div>
            <div class="stud-promotion__items">
                <div class="stud-promotion__item pr-icon5">
                    <p>
                        <span>Экзамены</span> по математике (и наверняка – по физике и
                        химии) в университете <span>станут простыми</span>
                    </p>
                </div>
                <div class="stud-promotion__item pr-icon6">
                    <p>
                        Если вы решите продолжить обучение в лучших университетах мира,
                        то вам не составит большого труда успешно и с легкостью сдать
                        такие экзамены как <span>SAT, GRE и GMAT</span>
                    </p>
                </div>
                <div class="stud-promotion__item pr-icon7">
                    <p>
                        Если вы хотите получить работу в одной из крупнейших
                        международных HiTech-компаний, таких как Apple, Google, Dell,
                        Microsoft и IBM, то вам надо пройти тестирование, большая часть
                        которых требует глубоких математических знаний и навыков
                        нестандартного мышления.
                    </p>
                </div>
                <div class="stud-promotion__item">
                    <p class="stud-promotion__item-active">
                        Проанализировав эти тесты, Школа Высшей Математики подготовила
                        лекции, которые позволят вам успешно пройти отбор и осуществить
                        свою мечту.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fin-about">
    <div class="fin-about__wrap">
        <div class="container-fluid">
            <div class="fin-about__title">Курсы для Студентов</div>
            <div class="fin-about__items">
                <div class="fin-about__item">
                    <div class="fin-about__item-title">HM Basic</div>
                    <div class="fin-about__item-subtitle">
                        HM Basic дает базовый аппарат Высшей Математики. Курс состоит из
                        Аналитической Геометрии и Линейной Алгебры, где описаны операции
                        с векторами, на языке которых построена вся современная
                        математика. Также в курсе даны основы анализа Непрерывных
                        Объектов: Математический Анализ, и анализ Дискретных (не
                        непрерывных) Объектов: Комбинаторика, Математическая Логика,
                        Теория Множеств и Теория Вероятности.
                    </div>
                </div>
                <div class="fin-about__item">
                    <div class="fin-about__item-title">HM Digital</div>
                    <div class="fin-about__item-subtitle">
                        Лекции HM Digital дают более углубленное изучение Дискретного
                        Анализа, который описывает процесс Выбора в цифровых системах. В
                        курс включены: Высшая Алгебра — дискретные числовые системы;
                        Теории Алгоритмов, Графов и Игр, а также, Теория Математической
                        Статистики, изучающая случайные процессы
                    </div>
                </div>
                <div class="fin-about__item">
                    <div class="fin-about__item-title">HM Profit</div>
                    <div class="fin-about__item-subtitle">
                        В лекции HM Profit включены дисциплины Непрерывных Объектов,
                        которые описывают финансово-экономические процессы. А именно,
                        Теории Дифференциальных Уравнений (обыкновенных и в частных
                        производных), Теории Функций (действительных и комплексных),
                        Функционального Анализа, Вариационный Анализ и Теория
                        Оптимального Управления. В курсе даны основы дифференциального,
                        интегрального и вариационного исчисления, а также, анализ
                        функций и систем уравнений.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
